<div class="footer">
  <div class="container">
    <div class="footer-container">
      <div class="footer-address">
        <p>Dr. Mark Nartey</p>
        <p>Department of English</p>
        <p>The Hong Kong Polytechnic University</p>
        <p>Hung Hom, Hong Kong</p>
      </div>
      <div class="footer-details">
        <a class="footer-social" href="mailto: narteynartey60@gmail.com">
          <div class="footer-socialIconContainer"><i class="footer-socialIcon far fa-envelope"></i></div>
          <span class="footer-socialLabel">Email</span>
        </a>

        <a class="footer-social" href="https://twitter.com/narteymark">
          <div class="footer-socialIconContainer"><i class="footer-socialIcon fab fa-twitter"></i></div>
          <span class="footer-socialLabel">Twitter</span>
        </a>

        <a class="footer-social" href="https://www.linkedin.com/in/mark-nartey-338452129/">
          <div class="footer-socialIconContainer"><i class="footer-socialIcon fab fa-linkedin-in"></i></div>
          <span class="footer-socialLabel">LinkedIn</span>
        </a>
        <a href="https://orcid.org/0000-0001-8386-6616" class="footer-social">
          <div class="footer-socialIconContainer"><i class="footer-socialIcon fab fa-orcid"></i></div>
          <span class="footer-socialLabel">Orcid</span>
        </a>

        <a href="https://www.scopus.com/authid/detail.uri?authorId=57204284904" class="footer-social">
          <div class="footer-socialIconContainer"><span class="footer-socialIcon">S</span></div>
          <span class="footer-socialLabel">Scopus</span>
        </a>
      </div>
    </div>
  </div>
</div>
