.about {
  &-container {
    padding: 30px 0;
    @include media($phone) {
      padding: 0;
    }

    img {
      @extend .about-img;
    }

    h1 {
      @extend .subheading;
    }

    h2 {
      @extend .subheading--small;
    }

    ul {
      @extend .about-list;
    }

    li {
      @extend .about-intro;
      @extend .about-list__item;
    }

    p {
      @extend .about-intro;
    }

    a {
      @extend .text-link;

      &:hover {
        color: $color-compliment--dark;
      }
    }
  }

  &-intro {
    font-size: 18px;
    line-height: 200%;
    color: #666;

    @include media($phone) {
      font-size: 16px;
    }

    @include space-by(down, 15px);
  }

  &-list {
    list-style-position: outside;
    margin-bottom: 40px;

    &__item {
      margin-left: 20px;
    }
  }

  &-img {
    height: 440px;
    width: 320px;
    object-fit: cover;
    float: right;
    object-position: top;
    padding-left: 20px;

    @include media(616px) {
      float: none;
      width: 100%;
      height: auto;
      padding-left: 0;
      max-height: 600px;
    }

    @include media(540px) {
      max-height: 500px;
    }

    @include media(440px) {
      float: none;
      width: 100%;
      height: auto;
      padding-left: 0;
      max-height: 400px;
    }
  }
}
