.about {
  &-container {
    padding: $spacing-max 0;
    // @include flex(column);
  }

  &-intro {
    font-size: 18px;
    line-height: 200%;
    color: #666;

    @include space-by(down, 15px);
  }

  // &-list {
  //   @include flex;
  //   margin-top: 50px;

  //   &__item {
  //     @include space-by(right, 50px);
  //   }
  // }

  // &-list {
  //   @include flex();
  //   justify-content: space-between;
  //   align-items: stretch;

  //   &__item {
  //     width: 100%;
  //     border-top: 4px solid $color-primary--light;
  //     background-color: #fcfcfc;
  //     padding: 20px;
  //     box-shadow: 0 2px 16px rgba(black, 0.1);
  //     list-style-type: none;

  //     @include space-by(right, 40px);
  //   }
  // }

  &-img {
    width: 350px;
    height: 320px;
    background-color: white;
    // border-radius: $br-max;
    // box-shadow: inset 0px 0px 6px black;
    margin: auto;
    // margin-left: 30px;
    // margin-bottom: 40px;
    float: right;
    // text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & > img {
      height: 320px;
      width: 320px;
      border-radius: $br-max;
      position: relative;
      z-index: 1;
    }

    @include pseudo(after) {
      border-radius: $br-max;
      top: -5px;
      right: -5px;
      height: 320px;
      width: 320px;
      border: 3px solid $color-primary--light;
    }

    // @include pseudo(after) {
    //   @include center-self;
    //   z-index: -1;
    //   width: 300%;
    //   height: 2px;
    //   background-color: lighten($color-primary, 20%);
    // }

    // @include pseudo(before) {
    //   @include center-self;
    //   z-index: 0;
    //   width: 130%;
    //   height: 4px;
    //   background-color: white;
    // }
  }
}
