.footer {
  background-color: $color-primary--light;
  border-top: 2px solid $color-primary;

  &-container {
    @include flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    color: $color-primary--dark;
  }

  &-details {
    font-size: 18px;
  }

  &-address {
    font-size: 18px;
  }
}
