.footer {
  background-color: rgba(black, 0.015);
  margin-top: auto;

  &-container {
    @include flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
    color: $color-primary--dark;

    @include media(1150px) {
      flex-direction: column-reverse;
    }
  }

  &-details {
    font-size: 18px;
    color: $color-compliment--dark;
    @include flex;

    @include media(1150px) {
      flex-wrap: wrap;
      margin-bottom: 30px;
      justify-content: space-around;
      width: 100%;
    }

    @include media($phone) {
      font-size: 16px;
    }
  }

  &-address {
    flex: 1 1 100%;
    font-size: 18px;
    color: $color-compliment--dark;

    @include media(1150px) {
      text-align: center;
    }

    @include media($phone) {
      font-size: 11px;
    }
  }

  &-social {
    @include flex;
    text-decoration: none;
    align-items: center;

    @include space-by(right, 30px);

    @include media(1150px) {
      margin-right: 0;
    }
  }

  &-socialIcon {
    font-size: 20px;
    color: white;
  }

  &-socialIconContainer {
    margin-right: 10px;

    background-color: $color-compliment;
    border-radius: $br-max;
    height: 35px;
    width: 35px;
    @include center-contents;

    @include media(1150px) {
      margin-right: 0;
    }
  }

  &-socialLabel {
    font-size: 18px;
    color: $color-compliment;

    @include media(1150px) {
      display: none;
    }
  }
}
