.hero {
  &-container {
    @include flex(column);
    align-items: center;
    padding: 70px 0;
  }

  &-title {
    color: $color-primary;
    text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
    letter-spacing: 10px;
    font-size: 50px;
    font-family: 'Arvo', serif;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  &-subtitle {
    color: #777;
    font-size: 17px;
    letter-spacing: 3px;
  }
}
