.hero {
  &-container {
    @include flex(column);
    align-items: center;
    padding: 30px 0 50px;
  }

  &-title {
    color: $color-primary;
    text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
    letter-spacing: 10px;
    font-size: 50px;
    font-family: 'Arvo', serif;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;

    @include media($tablet) {
      font-size: 40px;
      letter-spacing: 8px;
    }
    @include media($phone) {
      font-size: 29px;
      letter-spacing: 5px;
    }
  }

  &-subtitle {
    color: #777;
    font-size: 17px;
    letter-spacing: 3px;
    text-align: center;

    @include media($tablet) {
      font-size: 14px;
    }
  }
}
