.pubsPreview {
  &-container {
    padding: $spacing-max 0;
  }

  &-subheading {
    margin-bottom: 30px;
  }

  &-frontPageList {
    @include grid(3);
  }

  &-list {
    @include grid(1);
  }

  &-card {
    @include card($color-primary--light);
  }

  &-title {
    color: $color-primary--dark;
    @include card-title;
  }

  &-content {
    @include card-content;
  }

  &-year {
    @include card-year;
    background-color: $color-primary--light;
    color: $color-primary;
  }

  &-location {
    @include card-footer;
  }

  &-seeMore {
    display: flex;
    justify-content: flex-end;
    margin-top: $spacing-small;
    color: $color-primary--dark;
    text-decoration: none;
    margin-left: auto;

    &__icon {
      @include center-contents;
      font-size: 16px;
      border-radius: $br-max;
      height: 25px;
      width: 25px;
      background-color: $color-primary--light;
    }

    &__text {
      font-size: 18px;
      margin-right: 5px;
      @include hover(0) {
        text-decoration: underline;
      }
    }
  }
}

.publications {
  &-nav {
    @include flex();
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
    flex-wrap: wrap;
  }

  &-navItem {
    @include space-by(right, 10px);
    @include button-reset();
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: $light;
    letter-spacing: 2px;
    font-size: 15px;
    border-radius: $br-max;
    background-color: $color-primary--light;
    color: $color-primary--dark;
    margin-bottom: 10px;

    &.is-active {
      background-color: $color-compliment--dark;
      color: white;
    }

    @include hover(250ms) {
      background-color: $color-compliment--dark;
      color: white;
    }

    @include media($phone) {
      // font-size: 12px;
      // padding: 6px 9px;
      width: 100%;
      margin-right: 0;

      margin-bottom: 10px;
    }
  }
}
