@import url("https://fonts.googleapis.com/css?family=Arvo:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-divider {
  height: 10px;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.section-divider.primary {
  border-bottom: 3px solid #666666;
  border-top: 3px solid #666666;
}

.section-divider.single {
  height: 0;
  border-top: initial;
  border-bottom: initial;
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
}

.section-divider.single::after {
  content: '';
  position: absolute;
  top: 0;
  height: 2px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#f6f6f6), to(#fff));
  background-image: linear-gradient(to right, #f6f6f6, #fff);
  z-index: -1;
}

.img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.subheading, .subheading--small, .about-container h2, .about-container h1 {
  color: #333;
  font-size: 30px;
  margin-bottom: 30px;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 480px) {
  .subheading, .subheading--small, .about-container h2, .about-container h1 {
    font-size: 22px;
  }
}

.subheading--small, .about-container h2 {
  font-size: 24px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 40px;
}

@media (max-width: 480px) {
  .subheading--small, .about-container h2 {
    font-size: 20px;
  }
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.hidden {
  display: none !important;
}

.text-link, .about-container a {
  color: #359be8;
}

.listItem-container {
  font-size: 18px;
  line-height: 150%;
  color: #333;
  margin-bottom: 30px;
  padding-left: 30px;
  margin-left: 20px;
}

@media (max-width: 480px) {
  .listItem-container {
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-left: 15px;
  }
}

.listItem-italics {
  font-style: italic;
}

.listItem-conference {
  font-style: italics;
}

.hamburger-container {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  border-radius: 10px;
  position: relative;
  z-index: 30;
}

@media (max-width: 480px) {
  .hamburger-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hamburger-icon {
  font-size: 30px;
  color: #777;
  margin-right: 10px;
}

.hamburger-text {
  letter-spacing: 2px;
  color: #777;
}

.mobile-nav-container {
  background-color: #f7f7f7;
  color: #333;
  display: none;
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  -webkit-transition: 500ms;
  transition: 500ms;
  padding-top: 90px;
  z-index: 20;
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
}

.mobile-nav-container .nav-link {
  padding: 0 50px 0 15px;
}

.mobile-nav-container--active {
  left: 0;
  right: initial;
}

@media (max-width: 480px) {
  .mobile-nav-container {
    display: block;
  }
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0 50px;
}

@media (max-width: 480px) {
  .hero-container {
    padding: 30px 0;
  }
}

.hero-title {
  color: #333;
  text-shadow: 0.05em 0.075em 0 rgba(0, 0, 0, 0.1);
  letter-spacing: 10px;
  font-size: 50px;
  font-family: 'Arvo', serif;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 40px;
    letter-spacing: 8px;
  }
}

@media (max-width: 480px) {
  .hero-title {
    font-size: 29px;
    letter-spacing: 5px;
  }
}

.hero-subtitle {
  color: #777;
  font-size: 17px;
  letter-spacing: 3px;
  text-align: center;
}

@media (max-width: 768px) {
  .hero-subtitle {
    font-size: 14px;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 480px) {
  .nav {
    display: none;
  }
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #777;
  text-decoration: none;
  padding: 0 30px;
  font-size: 17px;
  margin-bottom: 30px;
  text-transform: uppercase;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.nav-link:hover {
  color: #333;
}

.nav-link:hover .nav-icon {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav-link__text {
  letter-spacing: 3px;
}

.nav-icon {
  -webkit-transition: 250ms;
  transition: 250ms;
  background-color: #eee;
  color: #333;
  border-radius: 9999px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 37px;
  width: 37px;
  margin-right: 10px;
}

.about-container {
  padding: 30px 0;
}

@media (max-width: 480px) {
  .about-container {
    padding: 0;
  }
}

.about-container a:hover {
  color: #1574bb;
}

.about-intro, .about-container li, .about-container p {
  font-size: 18px;
  line-height: 200%;
  color: #666;
  margin-bottom: 15px;
}

@media (max-width: 480px) {
  .about-intro, .about-container li, .about-container p {
    font-size: 16px;
  }
}

.about-intro:nth-last-child(1), .about-container li:nth-last-child(1), .about-container p:nth-last-child(1) {
  margin-bottom: 0px;
}

.about-list, .about-container ul {
  list-style-position: outside;
}

.about-list__item, .about-container li {
  margin-left: 20px;
}

.about-img, .about-container img {
  height: 440px;
  width: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  float: right;
  -o-object-position: top;
     object-position: top;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .about-img, .about-container img {
    float: none;
    width: 100%;
    height: auto;
    padding-left: 0;
    max-height: 350px;
  }
}

.pubsPreview-container {
  padding: 60px 0;
}

.pubsPreview-subheading {
  margin-bottom: 30px;
}

.pubsPreview-frontPageList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.pubsPreview-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
}

.pubsPreview-card {
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  border-top: 4px solid #eee;
}

.pubsPreview-title {
  color: #111;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 10px;
}

.pubsPreview-content {
  color: #666;
  font-size: 18px;
  margin-bottom: 15px;
}

.pubsPreview-year {
  font-size: 16px;
  padding: 2px 9px;
  border-radius: 5px;
  background-color: #eee;
  color: #333;
}

.pubsPreview-location {
  padding: 5px 10px;
  background-color: #f6f6f6;
  color: #777;
  border-radius: 5px;
  margin-top: auto;
  font-size: 15px;
}

.pubsPreview-seeMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 25px;
  color: #111;
  text-decoration: none;
  margin-left: auto;
}

.pubsPreview-seeMore__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  border-radius: 9999px;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.pubsPreview-seeMore__text {
  font-size: 18px;
  margin-right: 5px;
}

.pubsPreview-seeMore__text:hover {
  text-decoration: underline;
}

.publications-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.publications-navItem {
  margin-right: 10px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  padding: 10px 15px;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 12px;
  border-radius: 9999px;
  background-color: #eee;
  color: #111;
  margin-bottom: 10px;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.publications-navItem:nth-last-child(1) {
  margin-right: 0px;
}

.publications-navItem.is-active {
  background-color: #1574bb;
  color: white;
}

.publications-navItem:hover {
  background-color: #1574bb;
  color: white;
}

@media (max-width: 480px) {
  .publications-navItem {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.conference-card {
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  border-top: 4px solid #eee;
}

.conference-authors {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #111;
}

.conference-year {
  font-size: 16px;
  padding: 2px 9px;
  border-radius: 5px;
  background-color: #eee;
  color: #333;
}

.conference-content {
  color: #666;
  font-size: 18px;
  margin-bottom: 15px;
  margin-bottom: 5px;
}

.conference-prefix {
  color: #359be8;
}

.conference-conference {
  color: #666;
  font-size: 18px;
  margin-bottom: 15px;
}

.conference-footer {
  padding: 5px 10px;
  background-color: #f6f6f6;
  color: #777;
  border-radius: 5px;
  margin-top: auto;
  font-size: 15px;
}

.conferences-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
}

.conferencesPreview-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.scholarship-card {
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  border-top: 4px solid #eee;
  text-align: center;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.scholarship-title {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #111;
  margin-bottom: 15px;
}

.scholarship-year {
  font-size: 16px;
  padding: 2px 9px;
  border-radius: 5px;
  font-weight: 600;
  color: #333;
  background-color: #eee;
}

.scholarship-icon {
  color: #333;
  font-size: 30px;
  margin-bottom: 10px;
}

.accolades-subheading {
  margin-top: 25px;
}

.award-card {
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  border-top: 4px solid #eee;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.award-title {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #111;
}

.award-presenter {
  color: #666;
  font-size: 18px;
  margin-bottom: 15px;
  color: #359be8;
}

.award-year {
  font-size: 16px;
  padding: 2px 9px;
  border-radius: 5px;
  color: #333;
  background-color: #eee;
  font-weight: 600;
}

.award-icon {
  color: #333;
  font-size: 30px;
  margin-bottom: 10px;
}

.measure-card {
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  border-top: 4px solid #eee;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.measure-card:nth-last-child(1) {
  margin-bottom: 0px;
}

.measure-title {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.measure-year {
  font-size: 16px;
  padding: 2px 9px;
  border-radius: 5px;
  color: #333;
  background-color: #eee;
  margin-bottom: 10px;
}

.measure-employer {
  padding: 5px 10px;
  background-color: #f6f6f6;
  color: #777;
  border-radius: 5px;
  margin-top: auto;
  font-size: 15px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.015);
  margin-top: auto;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #111;
}

@media (max-width: 1000px) {
  .footer-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.footer-details {
  font-size: 18px;
  color: #1574bb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 1000px) {
  .footer-details {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .footer-details {
    font-size: 16px;
  }
}

.footer-address {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  font-size: 18px;
  color: #1574bb;
}

@media (max-width: 1000px) {
  .footer-address {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer-address {
    font-size: 14px;
  }
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.footer-social:nth-last-child(1) {
  margin-right: 0px;
}

@media (max-width: 1000px) {
  .footer-social {
    margin-right: 0;
  }
}

.footer-socialIcon {
  font-size: 20px;
  color: white;
}

.footer-socialIconContainer {
  margin-right: 10px;
  background-color: #359be8;
  border-radius: 9999px;
  height: 35px;
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1000px) {
  .footer-socialIconContainer {
    margin-right: 0;
  }
}

.footer-socialLabel {
  font-size: 18px;
  color: #359be8;
}

@media (max-width: 1000px) {
  .footer-socialLabel {
    display: none;
  }
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background-color: #f7f8fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 480px) {
  body {
    background-color: white;
  }
}

.container {
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 480px) {
  .container {
    padding: 15px;
  }
}
