---
layout: default
---

<div class="accolades">
  <div class="container section">
    <div class="publications-nav">
      <button class="publications-navItem is-active" id="scholarships">Scholarships & Fellowships</button>
      <button class="publications-navItem" id="awards">Awards</button>
    </div>

    <div class="pubsPreview-list" id="scholarships-list">
      <ol>
        {% for item in site.data.scholarships %} {% include accolade.html %} {% endfor %}
      </ol>
    </div>

    <div class="pubsPreview-list hidden" id="awards-list">
      <ol>
        {% for item in site.data.awards %} {% include accolade.html %} {% endfor %}
      </ol>
    </div>
  </div>
</div>
