---
layout: default
---

<div class="publications">
  <div class="container section">
    <div class="publications-nav">
      <button class="publications-navItem is-active" id="books">Books/Edited Volumes</button>
      <button class="publications-navItem" id="journal">Journal Articles</button>
      <button class="publications-navItem" id="chapter">Book Chapters</button>
      <button class="publications-navItem" id="bookReview">Book Reviews</button>
    </div>

    <div class="pubsPreview-list" id="books-list">
      <!-- {% for pub in site.data.books %} {% include publication.html %} {% endfor %} -->
      <ol>
        {% for item in site.data.books %} {% include list-item.html %} {% endfor %}
      </ol>
    </div>

    <div class="pubsPreview-list hidden" id="journal-list">
      <ol>
        {% for item in site.data.publications.items %} {% include list-item.html %} {% endfor %}
      </ol>
    </div>

    <div class="pubsPreview-list hidden" id="chapter-list">
      <ol>
        {% for item in site.data.chapters %} {% include list-item.html %} {% endfor %}
      </ol>
    </div>

    <div class="pubsPreview-list hidden" id="bookReview-list">
      <ol>
        {% for item in site.data.book-reviews %} {% include list-item.html %} {% endfor %}
      </ol>
    </div>
  </div>
</div>
