.section-divider {
  height: 10px;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;

  &.primary {
    border-bottom: 3px solid lighten($color-primary, 20%);
    border-top: 3px solid lighten($color-primary, 20%);
  }

  &.single {
    height: 0;
    border-top: initial;
    border-bottom: initial;
    margin-top: 20px;
    margin-bottom: 40px;

    @include pseudo(after) {
      top: 0;
      height: 2px;
      width: 100%;
      background-image: linear-gradient(to right, #f6f6f6, #fff);
      z-index: -1;
    }
  }
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.subheading {
  color: $color-primary;
  font-size: 30px;
  margin-bottom: 30px;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 600;

  @include media($phone) {
    font-size: 22px;
  }

  &--small {
    @extend .subheading;
    font-size: 24px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 40px;

    @include media($phone) {
      font-size: 20px;
    }
  }
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.hidden {
  display: none !important;
}

.text-link {
  color: $color-compliment;
}

.list-item {
}

.listItem {
  &-container {
    font-size: 18px;
    line-height: 150%;
    color: #333;
    margin-bottom: 30px;
    padding-left: 30px;
    margin-left: 20px;

    @include media($phone) {
      font-size: 16px;
      padding-left: 10px;
      margin-bottom: 20px;
      margin-left: 15px;
    }
  }

  &-authors {
    font-weight: 700;
  }

  &-content {
  }

  &-italics {
    font-style: italic;
  }

  &-location {
  }

  &-conference {
    font-style: italics;
  }
}

ol {
  // padding-left: 30px;
}

.hamburger {
  &-container {
    @include button-reset;
    @include center-contents;
    display: none;
    border-radius: $br-med;
    position: relative;
    z-index: 30;

    @include media($phone) {
      display: flex;
    }
  }

  &-icon {
    font-size: 30px;
    color: #777;
    margin-right: 10px;
  }

  &-text {
    letter-spacing: 2px;
    color: #777;
  }
}

.mobile-nav {
  &-container {
    background-color: #f7f7f7;
    color: #333;
    display: none;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    transition: 500ms;
    padding-top: 90px;
    z-index: 20;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);

    .nav-link {
      padding: 0 50px 0 15px;
    }

    &--active {
      left: 0;
      right: initial;
    }

    @include media($phone) {
      display: block;
    }
  }
}
