@mixin flex($orientation: row) {
  display: flex;
  flex-direction: $orientation;
}

@mixin center-self {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin media($device) {
  @media (min-width: $device) {
    @content;
  }
}

@mixin media-alt($device) {
  @media (max-width: $device) {
    @content;
  }
}

@mixin hover($speed: 0) {
  @if ($speed != 0) {
    transition: $speed;
  }
  &:hover {
    @content;
  }
}

@mixin pseudo($type) {
  position: relative;
  @if ($type == 'before') {
    &::before {
      content: '';
      position: absolute;
      @content;
    }
  } @else {
    &::after {
      content: '';
      position: absolute;
      @content;
    }
  }
}

@mixin button-reset {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

@mixin default-image {
  width: 100%;
  object-fit: cover;
}

@mixin space-by($direction, $spacing) {
  @if ($direction == 'right') {
    margin-right: $spacing;
    &:nth-last-child(1) {
      margin-right: 0px;
    }
  }

  @if ($direction == 'down') {
    margin-bottom: $spacing;
    &:nth-last-child(1) {
      margin-bottom: 0px;
    }
  }
}

@mixin grid($cols) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  grid-gap: 30px;
}

@mixin card($color) {
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px;
  @include flex(column);
  align-items: flex-start;
  box-shadow: 0 2px 16px rgba(black, 0.1);
  border-top: 4px solid $color;
}

@mixin card-title {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 10px;
}

@mixin card-content {
  color: #666;
  font-size: 18px;
  margin-bottom: 15px;
}

@mixin card-year {
  font-size: 16px;
  padding: 2px 9px;
  border-radius: 5px;
}

@mixin card-footer {
  padding: 5px 10px;
  background-color: #f6f6f6;
  color: #777;
  border-radius: 5px;
  margin-top: auto;
  font-size: 15px;
}
